<h1>Editing Dummy Workout Collection</h1>

<%= render 'form', dummy_workout_collection: @dummy_workout_collection %>

<%= link_to 'Show', @dummy_workout_collection %> |
<%= link_to 'Back', dummy_workout_collections_path %>
