<h1>Editing Repetition Collection</h1>

<%= render 'form', repetition_collection: @repetition_collection %>

<%= link_to 'Show', @repetition_collection %> |
<%= link_to 'Back', repetition_collections_path %>
