<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dummy_repetition.title %>
</p>

<%= link_to 'Edit', edit_dummy_repetition_path(@dummy_repetition) %> |
<%= link_to 'Back', dummy_repetitions_path %>
